h1 {
    letter-spacing: 1.5px;
    margin-bottom: 20px !important;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif !important;
}

h2 {
    font-size: 54px;
    padding: 25px 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

p {
    line-height: 21px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 24px !important;
    padding-top: 10px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.2px;
    padding-top: 10px;
    margin-bottom: 24px !important;
}

button#backtotop {
    display: block;
    border: 1px solid $white;
    border-radius: 50%;
    @media (max-width: 768px){
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.container-fluid {
    overflow: hidden;
}

.logout-link {
    display: flex;
    justify-content: center;
    a {
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 1px solid $black;
        width: 110px;
        color: $black;
        text-decoration: none;
        padding: 5px;
        margin-top: 40px;
        &:hover {
            color:  $white !important;
            background-color: $black;
            transition: all 0.4s ease;
        }
    }
}

.registration-link {
    p {
        padding-bottom: 0px;
    }
    a {
        width: 100%;
        background-color: $navyblue-op-5;
        border: none;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        text-align: center;
        color:  $white;
        text-decoration: none;
        font-size: 14px;
        padding: 5px;
        &:hover {
            color:  $white !important;
            background-color: $black;
            transition: all 0.4s ease;
        }
    }
}

.block-social-media-links-block .social-media-links--platforms {
    @include soc-link;
}

input, .button,
.btn, .btn-primary {
    &:focus {
        box-shadow: none;
    }
    &:active:focus {
        box-shadow: none;
    }
}