$black: #000;
$whitegray: #ececec;
$whitesmoke: #f6f6f6;
$white: #fff;
$navyblue-op-5: rgba(14, 34, 56, 0.5);
$navyblue-op-8: rgba(14, 34, 56, 0.8);
$navyblue-op-9: rgba(14, 34, 56, 0.9);
$navyblue: rgb(14, 34, 56);
$darkblue: #0E2238;
$darkgray:#343434;
$gray: #888;
$silver: #6d6c6c;


